# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
wheels/
sdist/
pip-wheel-metadata/
*.pip
*.whl
*.pyd

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
test-results/

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# VSCode
.vscode/

# mypy
.mypy_cache/

# Environments
.env
.env.*

# pyenv
.python-version

# PEP 582; used by e.g. python3 -m pipx run
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# Django stuff:
*.log
*.pot
*.pyc

# Flask instance folder
instance/

# Scrapy
.scrapy/

# Sphinx documentation
docs/_build/

# PyInstaller
*.manifest
*.spec

# macOS files
.DS_Store

# Thumbnails
Thumbs.db

# Temporary files
*.swp
*.swo
*~
